<div class="row">
	<div class="col-xs-12">
	
	<div class="screen-title">
	</br></br>
	<h4> DASHBOARD </h4>
	</div>
	
	<hr>

	<div class="col-xs-6"> <a href="#/device" class="module-nav btn btn-info col-xs-12"> DEVICES </a>  </div>
	<div class="col-xs-6"> <a href="#/account" class="module-nav btn btn-default col-xs-12"> ACCOUNT </a> </div>
	<div class="clear-fix"> </br> </br> </div>
	<div class="col-xs-6"> <a href="#/settings" class="module-nav btn btn-warning col-xs-12"> SETTINGS </a> </div>
	<div class="col-xs-6"> <a href="#/login" class="module-nav btn  btn-danger col-xs-12"> LOGOUT </a> </div>
	
		
	</div>
</div>